/*-------- Contents ---------
I. Defaults
II. Custom Containers
III. Effects
-------- Contents ---------*/
/*--------------------- I. Defaults ---------------------*/
/* -- start clearfix --*/
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main-container {
  position: relative;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  width: 100%;
  text-align: center;
  color: #767676;
  font-weight: normal;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

/* -- end clearfix --*/
.app-slideshow {
  position: relative;
  float: left;
  padding: 20px;
}
.app-slideshow .app-slideshow__image-holder {
  overflow: hidden;
  position: relative;
}
.app-slideshow h3 {
  text-align: center;
}
.app-slideshow .app-slideshow__container {
  display: block;
  position: relative;
  margin: 0 auto;
  background-repeat: none;
}

.app-slideshow__control {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  top: 40%;
  position: absolute;
  background: #0099cc;
  border-radius: 50%;
  border: 2px solid #CCC;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  cursor: pointer;
}
.app-slideshow__control:hover {
  background: #00AAFF;
  text-decoration: none;
}
.app-slideshow__control.forwards {
  right: 20px;
}
.app-slideshow__control.backwards {
  left: 20px;
}

.app-slideshow__slidetabs {
  text-align: center;
  font-size: 0;
}
.app-slideshow__slidetabs .app-slideshow__tab {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  border: 2px solid #CCC;
  background: #333;
  display: inline-block;
  margin: 3px;
}
.app-slideshow__slidetabs .app-slideshow__tab:hover, .app-slideshow__slidetabs .app-slideshow__tab.active {
  background: #00AAFF;
}

/*--------------------- II. Custom Containers ---------------------*/
/* -------------------Start iPad ------------------- */
.app-slideshow--ipad .app-slideshow__container {
  background-image: url(../img/ipads.png);
}
.app-slideshow--ipad .app-slideshow__container.app-slideshow__container--airV {
  width: 435px;
  height: 704px;
  background-position: -6px 0;
}
.app-slideshow--ipad .app-slideshow__container.app-slideshow__container--airV .app-slideshow__image-holder {
  width: 368px;
  height: 491px;
  left: 33px;
  top: 113px;
}
.app-slideshow--ipad .app-slideshow__container.app-slideshow__container--airH {
  width: 600px;
  height: 455px;
  background-position: 620px -150px;
}
.app-slideshow--ipad .app-slideshow__container.app-slideshow__container--airH .app-slideshow__image-holder {
  width: 491px;
  height: 368px;
  left: 55px;
  top: 28px;
}

/* -------------------Start iPhone ------------------- */
.app-slideshow--iphone .app-slideshow__container {
  background-image: url(../img/iphones.png);
}
.app-slideshow--iphone .app-slideshow__container.app-slideshow__container--iphone4 {
  width: 339px;
  height: 620px;
  background-position: 344px 0;
}
.app-slideshow--iphone .app-slideshow__container.app-slideshow__container--iphone4 .app-slideshow__image-holder {
  top: 125px;
  height: 369px;
}
.app-slideshow--iphone .app-slideshow__container.app-slideshow__container--iphone5 {
  width: 339px;
  height: 671px;
  background-position: -6px 0;
}
.app-slideshow--iphone .app-slideshow__container.app-slideshow__container--iphone5 .app-slideshow__image-holder {
  top: 112px;
  height: 437px;
}
.app-slideshow--iphone .app-slideshow__container .app-slideshow__image-holder {
  width: 245px;
  left: 46px;
}

/*--------------------- III. Effects ---------------------*/
.app-slideshow__slide {
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: 0;
  -webkit-transition: left 0s .5s ease, -webkit-transform 0s .5s ease;
  transition: left 0s .5s ease, -webkit-transform 0s .5s ease;
}
.app-slideshow__slide.active {
  z-index: 1;
  -webkit-transition: opacity .25s ease, left .25s ease, -webkit-transform .25s ease;
  transition: opacity .25s ease, left .25s ease, -webkit-transform .25s ease;
}
.app-slideshow__slide img {
  width: inherit;
  height: inherit;
}
.app-slideshow__slide h2 {
  width: inherit;
  position: absolute;
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding: 10px 0;
  font-size: 12px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
}

.fader .app-slideshow__slide {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0;
}
.fader .app-slideshow__slide.active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.slider .app-slideshow__slide {
  left: 100%;
}
.slider .app-slideshow__slide.active {
  left: 0;
}
