button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;
}
button:hover,
input[type="submit"]:hover {
  background-color: #2c5999;
  color: white;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 0 0 0.75em;
}

a {
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none;
}
a:hover {
  color: #2c5999;
}
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

img {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

cite {
  color: #737373;
  font-style: italic;
}
cite:before {
  content: '\2014 \00A0';
}

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

label {
  font-weight: bold;
  margin-bottom: 0.375em;
}
label.required:after {
  content: "*";
}
label abbr {
  display: none;
}

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%;
}
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #477dca;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%;
}

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em;
}

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0;
}

tr, td, th {
  vertical-align: middle;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
dl {
  margin-bottom: 0.75em;
}
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
dl dd {
  margin: 0;
}

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/*--- END BOURBON STYLES ----*/
/*------- iphone -------*/
/*------- ipad -------*/
/*----- Galaxy S5 -----*/
/*-------- Contents ---------
I. Defaults
II. Custom Containers
	A. --iPad
	B. --iPhone
	C. --Samsung Galaxy

III. Effects
-------- Contents ---------*/
/*--------------------- I. Defaults ---------------------*/
.app-slideshow {
  position: relative;
  margin: 0 auto;
  padding: 20px;
}
.app-slideshow .app-slideshow__image-holder {
  overflow: hidden;
  position: relative;
}
.app-slideshow h3 {
  text-align: center;
}
.app-slideshow .app-slideshow__container {
  display: block;
  position: relative;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.app-slideshow__slide {
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: 0;
  -webkit-transition: left 0s .5s ease, -webkit-transform 0s .5s ease;
  transition: left 0s .5s ease, -webkit-transform 0s .5s ease;
}
.app-slideshow__slide.active {
  z-index: 1;
  -webkit-transition: opacity .25s ease, left .25s ease, -webkit-transform .25s ease;
  transition: opacity .25s ease, left .25s ease, -webkit-transform .25s ease;
}
.app-slideshow__slide img {
  width: inherit;
  height: inherit;
}
.app-slideshow__slide h2 {
  width: inherit;
  position: absolute;
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding: 10px 0;
  font-size: 12px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
}

.app-slideshow__control {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: #0099cc;
  border-radius: 50%;
  border: 2px solid #CCC;
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  cursor: pointer;
  top: 50%;
}
.app-slideshow__control:hover {
  background: #00AAFF;
  text-decoration: none;
}
.app-slideshow__control.forwards {
  right: -30px;
}
.app-slideshow__control.backwards {
  left: -30px;
}

.app-slideshow__slidetabs {
  text-align: center;
  font-size: 0;
}
.app-slideshow__slidetabs .app-slideshow__tab {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  border: 2px solid #CCC;
  background: #333;
  display: inline-block;
  margin: 3px;
}
.app-slideshow__slidetabs .app-slideshow__tab:hover, .app-slideshow__slidetabs .app-slideshow__tab.active {
  background: #00AAFF;
}

/*--------------------- II. Custom Containers ---------------------*/
/* ------------------- A. --iPad ------------------- */
.app-slideshow--ipad .app-slideshow__container {
  background-image: url(../img/ipads.png);
}
.app-slideshow--ipad .app-slideshow__container.app-slideshow__container--airV {
  width: 435px;
  height: 704px;
  background-position: -6px 0;
}
.app-slideshow--ipad .app-slideshow__container.app-slideshow__container--airV .app-slideshow__image-holder {
  width: 368px;
  height: 491px;
  left: 33px;
  top: 113px;
}

.app-slideshow--ipad .app-slideshow__container {
  background-image: url(../img/ipads.png);
}
.app-slideshow--ipad .app-slideshow__container.app-slideshow__container--airH {
  width: 605px;
  height: 455px;
  background-position: -451px -150px;
}
.app-slideshow--ipad .app-slideshow__container.app-slideshow__container--airH .app-slideshow__image-holder {
  width: 491px;
  height: 368px;
  left: 55px;
  top: 28px;
}

/* ------------------- B. --iPhone ------------------- */
.app-slideshow--iphone .app-slideshow__container {
  background-image: url(../img/iphones.png);
}
.app-slideshow--iphone .app-slideshow__container.app-slideshow__container--iphone4 {
  width: 339px;
  height: 620px;
  background-position: -366px 0;
}
.app-slideshow--iphone .app-slideshow__container.app-slideshow__container--iphone4 .app-slideshow__image-holder {
  width: 245px;
  height: 369px;
  left: 46px;
  top: 125px;
}

.app-slideshow--iphone .app-slideshow__container {
  background-image: url(../img/iphones.png);
}
.app-slideshow--iphone .app-slideshow__container.app-slideshow__container--iphone5 {
  width: 339px;
  height: 671px;
  background-position: -6px 0;
}
.app-slideshow--iphone .app-slideshow__container.app-slideshow__container--iphone5 .app-slideshow__image-holder {
  width: 245px;
  height: 437px;
  left: 46px;
  top: 112px;
}

/* ------------------- C. --Samsung Galaxy ------------------- */
.app-slideshow--samsung .app-slideshow__container {
  background-image: url(../img/galaxy-s5.png);
}
.app-slideshow--samsung .app-slideshow__container.app-slideshow__container--galaxyS5 {
  width: 292px;
  height: 569px;
  background-position: 0 0;
}
.app-slideshow--samsung .app-slideshow__container.app-slideshow__container--galaxyS5 .app-slideshow__image-holder {
  width: 257px;
  height: 455px;
  left: 18px;
  top: 58px;
}

/*--------------------- III. Effects ---------------------*/
.fader .app-slideshow__slide {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0;
}
.fader .app-slideshow__slide.active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.slider .app-slideshow__slide {
  left: 100%;
}
.slider .app-slideshow__slide.active {
  left: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.main-container {
  position: relative;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  width: 100%;
  text-align: center;
  color: #767676;
  font-weight: normal;
}

* {
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

/* -- start clearfix --*/
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/* -- end clearfix --*/
/*--- form stuff ---*/
form {
  background: #d2d2d2;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  margin: 1em;
  z-index: 1000;
}

select {
  padding: 5px;
  font-size: 1.5em;
  font-family: inherit;
  border: none;
  min-width: 300px;
}
